@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Mulish:wght@400;600&display=swap");

/* dark mode placeholder for future use */
:root {
    --light-bg-color: #fafafa;
    --light-text: black;
    --dark-bg-color: #333;
    --dark-text: rgba(255, 255, 255);
}
#root {
    max-width: 800px;
    word-wrap: break-word;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
}
body {
    font-family: "Montserrat", sans-serif;
    font-family: "Mulish", sans-serif;
    margin: auto;
    max-width: 800px;
    width: 60%;
}

@media screen and (max-width: 850px) {
    #root {
        max-width: 400px;
    }
    .box {
        width: 100% !important;
        text-align: center;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        flex-grow: 0;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dark-theme {
    background-color: var(--dark-bg-color);
    color: var(--dark-text);
}

.light-theme {
    background-color: var(--light-bg-color);
    color: var(--light-text);
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.loading-description {
    text-align: center;
}

.preloader-wrapper {
    /* position: absolute; */
    padding-left: 25%;
}

.pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames 0.8s linear 0s infinite;
}

.pokeball:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px;
}

.pokeball:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 18px;
    right: 18px;
    z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* width: inherit; */
}

.box {
    /* problems if the result only show 1 or two */
    width: 33%;
    margin: 1px;
    padding: 10px;
    border: solid 0.5px grey;
}
.type-list {
    list-style-type: none;
}
.pkm-type {
    font-size: 15px;

    font-family: "Trebuchet MS";
    font-weight: bold;
    width: 6em;
    text-align: center;
    display: inline-block;
    border: 0.1em solid transparent;
    padding: 0.1em 0.2em 0.2em;
    margin: 0.1em 0.015em;
    border-radius: 0.4em;
}

.span {
    text-transform: uppercase;
    font-size: 0.8em;
    color: white;
    text-shadow: 0em 0em 0.2em black;
}

.normal {
    background-color: #aab09f;
}
.fire {
    background-color: #ee8130;
}
.fighting {
    background-color: #cb5f48;
}
.water {
    background-color: #6390f0;
}
.poison {
    background-color: #a33ea1;
}
.electric {
    background-color: #f7d02c;
}
.ground {
    background-color: #e2bf65;
}
.grass {
    background-color: #7ac74c;
}
.flying {
    background-color: #7da6de;
}
.ice {
    background-color: #96d9d6;
}
.bug {
    background-color: #a6b91a;
}
.psychic {
    background-color: #f95587;
}
.rock {
    background-color: #b6a136;
}
.dragon {
    background-color: #6a7baf;
}
.ghost {
    background-color: #735797;
}
.dark {
    background-color: #736c75;
}
.steel {
    background-color: #89a1b0;
}
.fairy {
    background-color: #d685ad;
}
